
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos INC

div(contrib-slack-webhooks, ng-controller="ContribSlackAdminController as ctrl")
    header
        h1
            span.green {{::sectionName}}

    form
        label(for="url") Slack webhook url
        div.contrib-form-wrapper
            fieldset.contrib-input
                input(
                    type="text"
                    name="url"
                    ng-model="slackhook.url"
                    placeholder="Slack webhook url"
                    id="url"
                    data-type="url"
                )
            fieldset.contrib-test(ng-show="slackhook.id")
                button.btn-small(title="Test", ng-click="ctrl.testHook()" variant="primary")
                    span Test
        label(for="channel") Slack webhook channel
        div.contrib-form-wrapper
            fieldset.contrib-input
                input(
                    type="text"
                    name="channel"
                    ng-model="slackhook.channel"
                    placeholder="#slackchannel"
                    id="channel"
                )

        fieldset
            h2 Notify Epics
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_epic_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Change
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_epic_change")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_epic_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

        fieldset
            h2 Notify Epics related user stories
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_relateduserstory_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_relateduserstory_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

        fieldset
            h2 Notify User Stories
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_userstory_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Change
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_userstory_change")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_userstory_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

        fieldset
            h2 Notify Tasks
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_task_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Change
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_task_change")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_task_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

        fieldset
            h2 Notify Issues
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_issue_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Change
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_issue_change")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_issue_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

        fieldset
            h2 Notify Wiki
            div.check-item
                span Create
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_wikipage_create")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Change
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_wikipage_change")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")

            div.check-item
                span Delete
                div.check
                    input(type="checkbox" name="notification" ng-model="slackhook.notify_wikipage_delete")
                    div
                    span.check-text.check-yes(translate="COMMON.YES")
                    span.check-text.check-no(translate="COMMON.NO")


        button(type="submit", class="hidden")
        a.btn-small.submit-button(
            variant="primary"
            href="", title="Save",
            ng-click="ctrl.updateOrCreateHook(slackhook)"
        )
            span Save

    a.help-button(
        href="https://docs.taiga.io/integrations-slack.html"
        target="_blank"
    )
        tg-svg(svg-icon="icon-question")
        span Do you need help? Check out our support page!
